<a href="https://colab.research.google.com/github/janviishere/Movie-Recommendation-System/blob/main/Movie_Recommender_System_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [15]:
df=pd.read_csv("/content/tmdb_5000_credits.csv")

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4803 non-null   int64
 1   title     4803 non-null   object
 2   cast      4803 non-null   object
 3   crew      4803 non-null   object
dtypes: int64(1), object(3)
memory usage: 150.2+ KB

In [17]:
df.describe()

            movie_id
count    4803.000000
mean    57165.484281
std     88694.614033
min         5.000000
25%      9014.500000
50%     14629.000000
75%     58610.500000
max    459488.000000

In [18]:
df['cast']=df['crew'].str.lower()

In [19]:
tfidf = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf.fit_transform(df['cast'])

similarity = cosine_similarity(tfidf_matrix)

def recommend(movie_title):
    try:
        movie_index = df[df['title'] == movie_title].index[0]
        distances = similarity[movie_index]

        movie_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x: x[1])[1:4]

        print(f"Recommendations for '{movie_title}':")
        for i in movie_list:
            print(f"- {df.iloc[i[0]].title}")

    except IndexError:
        print("Movie not found in database.")


recommend('The Dark Knight')

Recommendations for 'The Dark Knight':
- The Dark Knight Rises
- Batman Begins
- War of the Worlds